.jumbotron{
  background-color: yellow;
  color: black;
  margin-top: 50px;
}

footer{
  padding: 50px 50px 30px 50px;
  background-color: yellow;
  margin-bottom: 0px;
  margin-top: 10px:
}
.btn-reserva {
  width: 80%;
  border-radius: 0px;
}

.card-hotel{
  flex:1 200px;
  margin-top: 10px;
}
